client
proto {{ openvpn_protocol }}
explicit-exit-notify
remote {{ openvpn_ip }} {{ openvpn_port }}
dev tun
resolv-retry infinite
nobind
persist-key
plugin /usr/lib/openvpn/openvpn-plugin-auth-pam.so  openvpn login USERNAME password PASSWORD pin OTP
reneg-sec 0
persist-tun
remote-cert-tls server
verify-x509-name server_ZoOUYex4oo0yvMMo name
auth-nocache
cipher {{ openvpn_cipher }}
auth {{ openvpn_auth }}
tls-client
tls-version-min 1.2
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384
ignore-unknown-option block-outside-dns
setenv opt block-outside-dns # Prevent Windows 10 DNS leak
verb 3