*****************************************************************
* This is a Lotus Co Confidential Property
* Authorized uses only. All Activities are Monitored and Reported
* Abuse will Results in Prosecution.
*****************************************************************
888              888                            .d8888b.           
888              888                           d88P  Y88b          
888              888                           888    888          
888      .d88b.  888888 888  888 .d8888b       888         .d88b.  
888     d88""88b 888    888  888 88K           888        d88""88b 
888     888  888 888    888  888 "Y8888b.      888    888 888  888 
888     Y88..88P Y88b.  Y88b 888      X88      Y88b  d88P Y88..88P 
88888888 "Y88P"   "Y888  "Y88888  88888P'       "Y8888P"   "Y88P"  
