ntp_primary_server: 0.uk.pool.ntp.org
ntp_secondary_server: 1.uk.pool.ntp.org
ntp_fallback_server: 2.uk.pool.ntp.org
squid_passwd: '/etc/squid/squid_passwd'
se_service_dir: '/etc/init.d'

# Softether Vars
tmpdir: '/tmp'
se_prefix: '/opt/softether'
se_version: 'v4.42-9798-rtm-2023.06.30'
se_lang: en
se_dir: '/opt'

# softether required packages
se_require_packages:
  - binutils
  - gcc
  - build-essential
  - gnupg2
  - make
  - libreadline-dev
  - libssl-dev
  - libncurses5-dev
  - libncursesw5-dev
  - libpthread-stubs0-dev
  - make

common_packages:
  - apache2-utils
  - python3-passlib
  - htop
  - ethtool
  - curl
  - fail2ban
  - jq


v2ray_packages:
  - wget
  - curl
  - tar
  - tzdata
  - iproute2

vsftpd_packages:
  - vsftpd
  - htop
  - iotop

