# groups 
common_groups:
  - name: admin
    gid: 10000

proxy_server_groups:
  - name: squid
    gid: 2000

# the below group/groups will added into sudoers file that can run priviledge command w/o password
sudoer_groups:
  - admin

ftp_user_group:
  - name: ftpusers
    gid: 2002

# Users 
service_users:
  - name: squid
    groups:
      - squid
    uid: 2000
    shell: /sbin/nologin

common_users:
  - name: lotusco
    groups:
      - admin
      - sudo
    uid: 10000
    shell: /bin/bash
    comment: "Lotusco Admin"
    passwd: '$6$jUh7hLKSpRa21x2a$Wc7zIV/KnDvLmGbwzXKeryXpDLFfh9RSiyDErNMgDzBcNdHMc.vTIXhxftBoB/m2feq3OrldrgxtMUXPWinS4/'
  - name: mosadeghi
    groups:
      - admin
      - sudo
    uid: 1003
    shell: /bin/bash
    comment: "Morteza Sadeghi"
    passwd: '$6$s6oEFs3oEmBWiyDC$JG8C8j/SRK37dh/cJyXa49wTzCLAkiLMQqqFV9JmitLiu0hOqLK6oeqU5WdyYqhdRfQtsuVQ0NrOwhNoPJijE.'

ssh_users:
  - name: mosadeghi
    key:
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPnsG0JUNHqqEzGbxTG/nYooEXVEnDOfBB2fYzbWeHSp sadeghi@tebyanidc.ir"
      - "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK7ieuhmDyRM3CmqHhIag38aZooiJ5yxb2MKj0KqzdzW morteza.sadeghi@outlook.com"

ftp_users:
  - name: artebataren
    shell: /bin/ftponly
    uid: 2005
    groups:
      - ftpusers
    comment: "artebataren FG-70G"
    home: "/home/fortigate/7.2"
    passwd: '$6$8N6ynOZCPaqgneF/$xP6qbT9M0RvwuLsHrCl.jaUfLN/Kl1X5dgAe3cIhBm8cdINB4xY.kx6hyLm7vzRlVLX6Di9aivEZDeEwWS7hb0'
    pass_max_days: 365
    pass_warn_days: 14

  - name: miras
    shell: /bin/ftponly
    uid: 2006
    groups:
      - ftpusers
    comment: "Miras Farhangi FG-600F"
    home: "/home/fortigate/7.2"
    passwd: '$6$Q3WCangTIbWny22c$rGkPGP0hevfr6wbukGbFQ7YkbHGHDsItTZOr8zCerVQaamxkKfksOE/XC5IZfRl87ANy4QGyYvhe18Cl13baD.'
    pass_max_days: 365
    pass_warn_days: 14

  - name: morteza
    shell: /bin/ftponly
    uid: 2001
    groups:
      - ftpusers
    comment: "Morteza Sadeghi"
    home: "/home/fortigate/7.2"
    passwd: '$6$0h7IzJseIhfnGXFb$hsW5wiPsYT00RyYXMxlRBM4fhCbnNpMi1vgdKhM3FMqrpLGnDTI2I4h1gtjLiMpMudDPOK8Klay5vLNpv2dxj1'
    pass_max_days: 99999
    pass_warn_days: 7
  - name: lotuscof
    shell: /bin/ftponly
    uid: 2004
    groups:
      - ftpusers
    comment: "Lotus FG-40F"
    home: "/home/fortigate/7.2"
    passwd: '$6$nOhIE6LABHFPePBG$/LfA7w2V8MY.IrN6Z51dgKzsvTBukDV2O19m7BHmSBR8/Sl5P7GfxMlx1o2wY4k/JgGOhTPH/6LNMWmzrfGU9.'
    pass_max_days: 99999
    pass_warn_days: 7

  - name: darya-sadra
    shell: /bin/ftponly
    uid: 2007
    groups:
      - ftpusers
    comment: "Daya sadra Zagros"
    home: "/home/fortigate/7.2"
    passwd: '$6$NaI4g9eQGCcN9AIv$Wh8orThCNl6iO8VQF2m4QM/2WcVsb.DRU5pM.mEo9rZnYLhvZxHeWwSxw6CTvxYICiwO6xUpVSGw1sgTzxH9n1'
    pass_max_days: 365
    pass_warn_days: 14

